<table class="table">
    <caption><h3>Order Detail</h3></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Order Location</th>
        <th>Drop Off</th>
        <th>Time Window</th>
        <th>Weight</th>
        <th>Volume</th>
        <th>Fix Docking Slot Needed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mall A</td>
        <td>Drop Off</td>
        <th>09:00-10:00</th>
        <th>425</th>
        <th>1</th>
        <th>Fix Docking Slot Needed</th>
    </tr>
    </tbody>
</table>

<table class="table">
    <caption><h3>Vehicles</h3></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Order Location</th>
        <th>Drop Off</th>
        <th>Time Window</th>
        <th>Weight</th>
        <th>Volume</th>
        <th>Fix Docking Slot Needed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mall A</td>
        <td>Drop Off</td>
        <th>09:00-10:00</th>
        <th>425</th>
        <th>1</th>
        <th>Fix Docking Slot Needed</th>
    </tr>
</table>







