

<table data-toggle="table">
    <caption><h3>Order Detail</h3></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Order Location</th>
        <th>Drop Off</th>
        <th>Time Window</th>
        <th>Weight(KG)</th>
        <th>Volume(M3)</th>
        <th>Fix Docking Slot Needed</th>
        <th>Description</th>
        <th>FTL/LTL</th>
        <th>Sequence of Order</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mall A</td>
        <td>Drop Off</td>
        <td>Drop Off</td>
        <td>Drop Off</td>
        <td>Drop Off</td>

    </tr>
    </tbody>
</table>
