.page-header h1{
    color:#FF0000;
    font-size: 50px;
}

.page-header h1 small{
    font-size: 20px;
}


.input-sm {height: 25px;padding: 5px 10px;font-size: 14px;line-height: 1.5;border-radius: 2px;font-weight: normal;}